services:
  db:
    image: postgres
    container_name: postgresdb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: rss
      POSTGRES_USER: rss_user

  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
    extra_hosts:
      - host.docker.internal:host-gateway

  server:
    image: server:2.3.1
    container_name: rss_server
    restart: always
    depends_on:
      - caddy
    ports:
      - "9464:9464"
    environment:
      SERVER_PORT: 8080
      DATASOURCE_URL: jdbc:postgresql://postgresdb:5432/rss
      DATASOURCE_USER: rss_user
      DATASOURCE_PASS: 123456
      CORS_URL: http://localhost
      CLIENT_ID: ${CLIENT_ID}
      CLIENT_SECRET: ${CLIENT_SECRET}
      GOOGLE_API_KEY: ${GOOGLE_API_KEY}
      OTEL_EXPORTER_PROMETHEUS_PORT: 9464
      OTEL_METRICS_EXPORTER: prometheus

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - $PWD/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    depends_on:
      - server

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: always
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-storage:/var/lib/grafana
      - $PWD/grafana/provisioning:/etc/grafana/provisioning
    depends_on:
      - prometheus

volumes:
  grafana-storage:

