**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.workspace/
**/node_modules/
dist

.DS_Store
.metals
.bloop
**/.bsp/
.vite
