# sbt/Scala
.bloop/
.metals/
.sbt/
target/
project/target/
project/project/
.idea/
.vscode/
.project
.metals
.bloop
**/.bsp/
**/metals.sbt

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Vite
.workspace/
.vite
dist
**/node_modules/

.DS_Store
