<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set default logging level -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set specific logger levels -->
    <logger name="ru.trett.server" level="DEBUG"/>
    <logger name="org.http4s" level="DEBUG"/>
    <logger name="org.http4s.server.message-failures" level="DEBUG"/>
</configuration>