img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.read {
    color: #948e8e !important;
}

.unread {
    color: rgba(0,0,0,.87)!important
}

.feed {
    display: grid !important;
}
