  .read {
      color: grey;
      text-decoration: none;
      font-size: x-large;
  }

  .new {
      color: #333333;
      font-weight: bold;
      text-decoration: none;
      font-size: x-large;
  }
  img{
      width:100%;
      height:100%;
      max-width: 200px;
      max-height: 200px;
      object-fit: contain;
  }
