body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

ul {
    list-style-type: none;
}

.read {
    color: lightgrey;
    font-size: 24px !important;
    background-color: #eeeeee;
    text-decoration: none;
    display: block;
}

.new {
    color: #333333;
    font-size: 24px !important;
    background-color: #eeeeee;
    text-decoration: none;
    display: block;
}

.feed-list {
    padding: 0;
}
