localhost {
	@apipath {
		path /api/*
		path /error
		path /login
		path /login/*
		path /oauth2/*
	}

	handle @apipath {
		reverse_proxy {
			to rss_server:8080
		}
	}

#   Useful for local development      
#   reverse_proxy host.docker.internal:8081 {
#      header_up X-Real-IP {remote_host}
#   }
    
    handle {
		reverse_proxy {
			to rss_client
		}
	}
}   
