localhost {
	@apipath {
		path /api/*
		path /error
		path /login
		path /login/*
		path /oauth2/*
	}

	handle @apipath {
		reverse_proxy {
			to rss_server:8080
		}
	}

	handle {
		reverse_proxy {
			to rss_client
		}
	}
}
