localhost {
	@apipath {
		path /api/*
		path /error
		path /signin
		path /signup
		path /signin_callback
		path /signup_callback
	}

   # reverse_proxy host.docker.internal:8081 {
   #    header_up X-Real-IP {remote_host}
    #}

    handle {
    	reverse_proxy host.docker.internal:8080 {
			header_up X-Real-IP {remote_host}
		}
	}
}
