version: "3.7"

services:
  db:
    image: postgres
    container_name: postgresdb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: rss
      POSTGRES_USER: rss_user

