name: 'Build and Publish'

on:
  workflow_dispatch:

jobs:
  Build-Containers:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup NodeJs
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'sbt'
      - uses: sbt/setup-sbt@v1

      - name: Login to registry
        run: echo ${{ secrets.TOKEN }} | docker login --username oauth --password-stdin cr.yandex

      - name: Push image
        run: sbt pushImage
        env: 
          SERVER_URL: ${{ secrets.SERVER_URL }}
          REGISTRY: ${{ secrets.REGISTRY }}
